{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<script src="/static/lib/showdown.min.js" type="application/javascript"></script>
	<script src="/static/lib/showdown-htmlescape.min.js" type="application/javascript"></script>
	<script src="/static/lib/xss.min.js" type="application/javascript"></script>
	<script src="/static/lib/showdown-xss-filter.js" type="application/javascript"></script>
	
	<script src="/static/scripts/threads.js?v={{ VERSION }}" type="application/javascript"></script>
	<link rel="stylesheet" href="/static/styles/threads.css?v={{ VERSION }}">
{% endblock %}

{% block contents %}
<div id="communities-header">
	Sort:
	<a href="?sort=activity">Activity</a>
	|
	<a href="?sort=alphabetical">A-Z</a>
</div>

<div id="spinner">
	<div class="gears" id="two-gears">
		<div class="gears-container">
			<div class="gear-rotate"></div>
			<div class="gear-rotate-left"></div>
		</div>
	</div>
	<div id="loading-text">
		Loading...
	</div>
</div>
<div id="error-container" hidden>
	<div id="error">
		<i class="fa-solid fa-triangle-exclamation"></i>
		<span id="error-message">Error</span>
	</div>
</div>
<div id="status-container" hidden>
</div>
<main id="communities" data-disptype="communities" hidden>
	<div id="summary">
		<div>
			<div>
				<span id="item-count">0 communities on page</span>
			</div>
			<div>
				<span id="item-count-removed">0 unlisted or closed (0%)</span>
			</div>
			<div>
				<span id="item-count-restricted">0 restricted (0%)</span>
			</div>
			<div>
				<span id="item-count-hidden">0 not app-safe (0%)</span>
			</div>
		</div>
	</div>
	<div id="communities-content"></div>
	<div id="nav-btns" hidden>
		<a href="" class="btn-page" id="btn-prevpage">&lt; Previous</a>
		<a href="" class="btn-page" id="btn-nextpage">Next &gt;</a>
	</div>
</main>
{% endblock %}